{% extends "workers/base.html" %}



{% load static %}


{% block  body%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Workers Details</h1>
    </div><!-- End Page Title -->




    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-10">

        


      
         
          {% for worker in workers%}
          <div class="card  mb-3">
            <div class="row g-0">
         <div class="col-md-4 ">
                <img src="{{worker.image.url}}"class="img-fluid rounded mt-2 ms-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{worker.name}}</h5>
                  <p class="card-text">{{worker.role}}</p>
                  <p class="card-text">0{{worker.phone}}</p>
                  <p class="card-text">Employment status</p>
                  {% if  worker.status == "terminated" %}
                  <button type="button" class="btn btn-danger">Terminated</button>
                  {% elif worker.status == "active" %}
                  <button type="button" class="btn btn-success">Active</button>
                  {% elif worker.status == "leave"  %}
                  <button type="button" class="btn btn-warning">Leave</button>
                  {% else %}
                <p>Invalid entry!!</p>
                  {% endif %}
           

                </div>
              </div>
          
          
            </div>
          </div><!-- End Card with an image on left -->
          {% endfor %}


        </div>

      </div>
    </section>

  </main><!-- End #main -->

  

{% endblock  %}