{% extends "main/layout.html" %}

{% load static %}




{% block title %}
Homepage
{% endblock  %}



{% block  body%}



  <main id="main" class="main">



    <section class="section dashboard">
      <div class="row">

        <div class="pagetitle">
          <h1>Dashboard</h1>
        </div><!-- End Page Title -->


        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">


               <!-- Top Selling -->
               <div class="col-12">
                <div class="card main-page-heading overflow-auto">
            <div class="card-body pb-0">
                    <h1>Welcome to AgriGrow Farms</h1>
                    <h2>Empowering Farmers and Workers for Success, Growth, and Sustainable Prosperity</h2>
             </div>
  
                </div>
              </div><!-- End Top Selling -->

  

            <div class="col-lg-6">
              {% for mainProfile in mainProfiles %}
              
                          <div class="card">
                            <div class="card-body pt-3">
                              <div class="tab-content pt-2">
                                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                  <img src="{{mainProfile.image.url}}" width="80px" height="80px" alt="Profile-image" class="rounded-circle">
                                    </div>
                                <div class="tab-pane fade show active profile-overview" >
                                
                
                                  <h5 class="card-title">Profile Details</h5>
                
                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8">{{mainProfile.name}}</div>
                                  </div>
                                  <br/>
                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Job</div>
                                    <div class="col-lg-9 col-md-8">{{mainProfile.role}}</div>
                                  </div>
                                  <br/>
                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">0{{mainProfile.phone}}</div>
                                  </div>
                        <br/>
                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{mainProfile.email}}</div>
                                  </div>
                
                               
                                
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
              

     </div><!-- End Bordered Tabs -->
  
  
  
        <!-- Customers Card -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pie Chart</h5>
  
              <canvas id="pieChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                      labels: [
                        'Task 1',
                        'Task 2',
                        'Task 3'
                      ],
                      datasets: [{
                        label: 'Task Distribution',
                        data: [300, 50, 100],
                        backgroundColor: [
                          '#41945E', // Green 1
                          '#0E612B', // Green 2
                          '#415A23'  // Green 3
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
  
            </div>
          </div>
        </div>
      <!-- End Customers Card -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Administration Tasks <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Role</th>
                        <th scope="col">Name</th>
                        <th scope="col">Task</th>
                        <th scope="col">Days</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>

                    
                   {% for task in  tasks %}
                     <tr>
                        <th scope="row" class="text-primary">{{task.role}}</th>
                        <td>{{task.name}}</td>
                        <td class="text-primary">{{task.description}}</td>
                        <td>{{task.days}}</td>
                        <td><span class="badge ">{{task.status}}</span></td>
                      </tr>
                     
                      {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Administration Workers <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Worker</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Email</th>
                        <th scope="col">Worker ID</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>


                      {% for worker in workers %}
                      <tr>
                        <th scope="row"><a href="#"><img src="{{worker.image.url}}" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">{{worker.name}}</a></td>
                        <td>{{worker.role}}</td>
                        <td class="fw-bold">{{worker.email}}</td>
                        <td>417100{{worker.id}}</td>
                        <td>   
                          {% if  worker.status == "terminated" %}
                          <button type="button" class="btn btn-danger">Terminated</button>
                          {% elif worker.status == "active" %}
                          <button type="button" class="btn btn-success">Active</button>
                          {% elif worker.status == "leave"  %}
                          <button type="button" class="btn btn-warning">Leave</button>
                          {% else %}
                        <p>Invalid entry!!</p>
                          {% endif %}</td>
                      </tr>
                      
                      {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

    
      </div>
    </section>

  </main><!-- End #main -->

  

  {% endblock  %}