{% extends "supervisor/base.html" %}
{% load static %}


{% block body %}

  <main id="main" class="main">

    <div class="row gy-4">

    

      <div class="col-xl-10">
        <div class="card p-4">
          <form action="" method="post" class="" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>

              <div class="col-md-6 ">
                <input type="text" class="form-control" name="phone" placeholder="Phone number"required>
              </div>

              <div class="col-md-6 ">
                <input type="text" class="form-control" name="role" placeholder="Role" required>
              </div>


              <div class="col-md-6">
                <input type="text" class="form-control" name="status" placeholder="e.g leave, terminated,active" required>
              </div>

              <div class="col-md-6">
                <input type="text" class="form-control" name="worktype" placeholder="e.g contract" required>
              </div>
              

              <div class="col-md-12 ">
                <input type="file" class="form-control" name="image" required>
              </div>

              <div class="col-md-12 text-center">
                <button type="submit"class="btn btn-success ">Submit</button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>





  </main><!-- End #main -->


{% endblock  %}