{% extends "supervisor/base.html" %}
{% load static %}


{% block body %}

  <main id="main" class="main">


    <div class="row gy-4">

    

      <div class="col-xl-10">
        <div class="card p-4">
          <form action="" method="post" class="" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row gy-4">

              <div class="col-md-6">
                <input value= "{{supervisortask.name}}" type="text" name="name" class="form-control" placeholder="Name" required>
              </div>

              <div class="col-md-6 ">
                <input  "{{supervisortask.role}}" type="text" class="form-control" name="role" placeholder="Role" required>
              </div>

              <div class="col-md-6 ">
                <input value= "{{supervisortask.heading}}" type="text" class="form-control" name="heading" placeholder="Heading"required>
              </div>

              <div class="col-md-6">
                <input value= "{{supervisortask.days}}" type="number" class="form-control" name="days" placeholder="e.g 1 ,2 " required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="description" rows="6" placeholder="Description" required>
                  {{supervisortask.description}}
                </textarea>
              </div>


              <div class="col-md-12 text-center">
                <button type="submit"class="btn btn-success ">Save</button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>



  </main><!-- End #main -->


{% endblock  %}