{% extends "supervisor/base.html" %}

{% load static %}

{% block  body %}



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
      

        <div class="col-xl-8">
          {% if supervisorProfiles %}
          {% for supervisorProfile in supervisorProfiles %}
          
                      <div class="card">
                        <div class="card-body pt-3">
                          <div class="tab-content pt-2">
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                              <img src="{% url "supervisorProfile.image.url" %}" width="40px" alt="Profile-image" class="rounded-circle">
                                </div>
                            <div class="tab-pane fade show active profile-overview" >
                            
            
                              <h5 class="card-title">Profile Details</h5>
            
                              <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">{{supervisorProfile.name}}</div>
                              </div>
                              <br/>
                              <div class="row">
                                <div class="col-lg-3 col-md-4 label">Job</div>
                                <div class="col-lg-9 col-md-8">{{supervisorProfile.role}}r</div>
                              </div>
                              <br/>
                              <div class="row">
                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                <div class="col-lg-9 col-md-8">0{{supervisorProfile.phone}}</div>
                              </div>
                    <br/>
                              <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">{{supervisorProfile.email}}</div>
                              </div>
            
                           
                            
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
          
                      {% else %}
          
            <div class="card">
                          <div class="card-body pt-3">
                            <div class="tab-content pt-2">
                              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                <img src="{% static 'assets/img/profile-img.jpg' %}" width="40px" alt="Profile-image" class="rounded-circle">
                                  </div>
                              <div class="tab-pane fade show active profile-overview" >
                              
              
                                <h5 class="card-title">Profile Details</h5>
              
                                <div class="row">
                                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                                </div>
                                <br/>
                                <div class="row">
                                  <div class="col-lg-3 col-md-4 label">Job</div>
                                  <div class="col-lg-9 col-md-8">Web Designer</div>
                                </div>
                                <br/>
                                <div class="row">
                                  <div class="col-lg-3 col-md-4 label">Phone</div>
                                  <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                                </div>
                      <br/>
                                <div class="row">
                                  <div class="col-lg-3 col-md-4 label">Email</div>
                                  <div class="col-lg-9 col-md-8">k.anderson@example.com</div>
                                </div>
              
                                <div>
                                  <a href="{% url "farmers:SupervisorProfileForm" %}" class="btn create-button">Update Profile</a>
                                </div>
                              
                              </div>
                            </div>
                          </div>
                        </div>
          
          
          
                      {% endif %}

        </div>
      </div>
    </section>

  </main><!-- End #main -->



{% endblock  %}