{% extends "layout.html" %}
{% load static %}


{% block body %}

  <main id="main" class="main">

    <div class="row ">
      <div class="col-sm-6 ">
    <form action="", method="post" enctype="multipart/form-data">
     {% csrf_token %}

     <input name="name" type="text"  class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Name" required>
     <br/>
     <input name="role" type="text"  class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Role"required>
     <br/>
     <input name="heading"  type="text" class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Heading"required>
     <br/>
     <textarea name="description" rows="5"cols="49" class="form-control btn  btn-outline-success  mt-2 mb-2 "required >
      task description
     </textarea>
     <br/>
     <input name="days" type="number"  class="form-control mt-2 mb-2 btn btn-outline-success" placeholder="Days"  required>
     <br/>
     <input type="submit" class="form-control btn btn-success btn-small"    value="save" >
   

    </form>
  </div>
</div>

  </main><!-- End #main -->


{% endblock  %}