{% extends "layout.html" %}


{% load static %}



{% block  body%}


 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tasks Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Components</li>
          <li class="breadcrumb-item active">Tooltips</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div>
      <a href="{% url "farmers:createTasksPage" %}" class="btn create-button">Create task</a>
    </div>

    <section class="section">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">{worker name}</h5>
              
              <div class="tasks-align">
              <div>
              <span class="ms-4 me-4">{task to be done}</span>
              </div>
                <div>
              <span class="ms-4 me-4">{task days}</span>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

{% endblock  %}